# Media files
media/

# Static files
staticfiles/
static/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# DATA BASE 
*.sqlite3
