писать в нашу нейронку wayzen запрос чтобы он нам выдал места по категориям
промт:"найди мне 15 мест для путешествия по Узбекистану по категории СПОРТ"(последнее слово меняется на другие категории)
получить для каждой категории как минимум по 15 мест
ввести эти места в бд, их фотки и координаты
получается где-то 120 мест
количество категорий 9:
Спорт, История, Культура, Еда, Природа, ремесленичество, игры(гейм-клубы), приключения,  другие

